.Home {
    background-image: url('http://cdn00.chepkadog.net/4096/1044-hermosos-perros-de-diferentes-razas.jpg');
    background-size: cover;
    /* background-position: center; */
    position: absolute;
    /* background-repeat: repeat-y; */
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: 100%;
    width: 100%;
    /* background-repeat: repeat-x; */
}
/* *{
    margin: 0;
    padding: 0;
} */

.Home-Headers {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.Home-SearchBar {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #29323c, #485563);
    padding: 10px;
    border-radius: 10px;
}

.SearchBar {
    border-radius: 7px;
    border: none;
    margin-right: 2px;
}

.SearchBar-Btn {
    /* background: linear-gradient(to right, #29323c, #485563); */
    color: white;
    margin-left: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.SearchBar-Btn:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Home-Selects {
    background: linear-gradient(to bottom, #29323c, #485563);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Home-Select {
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.HomeDiv-H1 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
    /* background-color: #29323c; */
    /* width: fit-content; */
    /* border-radius: 10px; */
}

.Home-H1 {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background: linear-gradient(to bottom, #29323c, #485563);
    /* width: fit-content; */
    border-radius: 15px;
    /* padding: 7px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
}

.Cards {
    /* display: flex;
    flex-direction:row; */
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    /* grid-template-rows: repeat(4, 1fr); */
    
}

.Card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 95%;
    /* border-width: 3px; */
    border: 3px solid gray;
    /* border-color: linear-gradient(to bottom, #29323c, #485563);; */
    border-radius: 20px;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    
    /* border-width: 100px; */
    /* border-color: black; */
}

.CardLink {
    text-decoration: none;
    display: flex;
    /* align-items: baseline; */
    justify-content: flex-start;
}

.CardLink:hover {
    text-decoration: underline white;   
}

.CardLink-h1 {
    /* width: auto; */
    padding: 8px;
    padding-top: 4px;
    /* height: 100%; */
    /* background: linear-gradient(to right, #29323c, #485563); */
    border-radius: 15px;
    color: white;
    font-size: large;
    cursor: pointer;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.CardLink-h1:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Home-h {
    /* background-color: gray; */
    border-radius: 15px;
    padding: 7px;
    background: linear-gradient(to bottom, #29323c, #485563);
    color: white;
    font-size: small;
}

.CardImg {
    width: 300px;
    height: 250px;
    border-radius: 20px;
}